header{
  position: fixed;
  top:0; left: 0; right:0;
  background:#333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9%;
}

header .logo{
  font-size: 25px;
  font-weight: bolder;
  color:#fff;
  text-transform: uppercase;
  text-decoration: none;
}
.logo:hover{
  color: #fff;
}

header .logo span{
  color:orange;
}

header .navbar a{
  transition: all ease-in-out .5s;
  color:#fff;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

header .navbar a:hover{
  color:orange;
}

header .icons p{
  transition: all ease .5s;
  font-size: 2rem;
  color:#fff;
  cursor: pointer;
  margin-right: 2rem;
}
header .icons p:hover{
  color: orange;
}

.search-input{
  display: flex;
  background-color: #333;
  height: 50px;
  border-radius: 25px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #333;
}
.search-input input{
  width: 150px;
  color: #fff;
  font-size: 20px;
  background-color: #333;
  border: none;
  outline: none;
}
.search-input:hover{
  border: 1px solid #fff;
}
