header{
  position: fixed;
  top:0; left: 0; right:0;
  background:#333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9%;
}

header .logo{
  font-size: 25px;
  font-weight: bolder;
  color:#fff;
  text-transform: uppercase;
  text-decoration: none;
}
.logo:hover{
  color: #fff;
}

header .logo span{
  color:orange;
}

header .navbar a{
  transition: all ease-in-out .5s;
  color:#fff;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

header .navbar a:hover{
  color:orange;
}

header .icons p{
  transition: all ease .5s;
  font-size: 2rem;
  color:#fff;
  cursor: pointer;
  margin-right: 2rem;
}
header .icons p:hover{
  color: orange;
}
header .search-bar-container{
  position: absolute;
  top:100%; left: 0; right:0;
  padding:1.5rem 2rem;
  background:#333;
  border-top: .1rem solid rgba(255,255,255,.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
  width:100%;
  padding:1rem;
  text-transform: none;
  color:#333;
  font-size: 1.7rem;
  border-radius: .5rem;
}

header .search-bar-container label{
  color:#fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover{
  color:var(--orange);
}