.heading{
  text-align: center;
  padding:2.5rem 0 1.5rem 0;
}

.heading span{
  background:rgba(255, 165, 0,.2);
  color: orange;
  border-radius: .5rem;
  padding:.2rem .8rem;
  margin: 0 .1rem;
}

.heading span.space{
  background:none;
}

#scroll-top{
  position: fixed;
  top:-120%;
  right:2rem;
  padding:.5rem 1.5rem;
  font-size: 4rem;
  background:var(--orange);
  color:#fff;
  border-radius: .5rem;
  transition: 1s linear;
  z-index: 1000;
}

#scroll-top.active{
  top:calc(100% - 12rem)
}

/* Media queries  */
@media (max-width:1441px){
  .film .box-container img {
    width: 605px;
    left: 57.8%;
    bottom: -22%;
  }
}

@media (max-width:1200px){

  html{
    font-size: 55%;
  }
  
  .film .box-container img {
    display: none;
  }
}

@media (max-width:991px){

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }
  
  .footer .box-container img{
    display: none;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; right:0; left: 0;
    background: #333;
    border-top: .1rem solid rgba(255,255,255,.2);
    padding:1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding:1.5rem;
    margin:1.5rem 0;    
    background:#222;
  }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .heading span{
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input{
    width:100%;
  }
  
  .film .box-container .box h3 {
    font-size: 20px;
  }
  .film .box-container .box p{
    font-size: 15px;
  }
  
  .footer .box-container{
    gap: 0;
  }
}